<h1>Dashboard</h1>

<h2>You may create up to 5 checks</h2>

<hr>

<table id="checksListTable">
    <tr>
        <th>Method</th>
        <th>Protocol</th>
        <th>URL</th>
        <th>State</th>
        <th>Details</th>
    </tr>

    <tr id="noChecksMessage">
        <td colspan="5">You have no checks, please create one!</td>
    </tr>
</table>

<div id="createCheckCTA" class="ctaWrapper">
    <a class="cta green" href="checks/create">Create a Check</a>
</div>