<h1>Uptime Monitoring</h1>

<h2>Made Simple</h2>

<div class="blurb">We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down
    we will send you a text message to let you know.</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>

    <a class="cta blue" href="session/create">Login</a>
</div>